<!DOCTYPE html>
<html>
  <head>
    <title>Spam Detector - Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="header"></div>

    <div class="content vertical-center">
      <div class="title text-center">
        <h1>YouTube Comment Spam Detector</h1>
        <h2>Interactive Demo</h2>
      </div>

      <form class="input-container" action="/" method="post">
        <textarea id="textarea" class="textarea" name="comment" rows="4" cols="50" placeholder="Enter comment">{{ request.form["comment"] }}</textarea>
        <input class="button" type="submit" value="Check">
        <input class="button" type="button" value="Clear" onclick="document.getElementById('textarea').value = ''">
      </form>

      {% if result %}
      <p class="results text-center"><b>Result:</b> <span class="{{ result_class }}">{{ result }}</span><br>(Confidence: {{ confidence }}%)</p>
      {% endif %}

      <a class="text-center" href="/visualizations">Data Visualizations</a>
    </div>
    
    <div class="footer"></div>
  </body>
</html>